---

---


  <h4>Across the Internet</h4>
  <p><a href="https://github.com/gabogemp" target="_blank">GitHub</a><a href="https://www.linkedin.com/in/gabogemp/" target="_blank">LinkedIn</a></p>


<style>  
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }
  a {
    padding: 0 10px 0 0;
  }

</style>
