---

---


  <h4>Across the Internet</h4>
  <p><a href="#">GitHub</a><a href="#">LinkedIn</a></p>


<style>  
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }
  a {
    padding: 0 10px 0 0;
  }

</style>
