---

---

<section>
  <h4>Desarrollador Frontend Junior</h4>
  <ul>
    <li>Venezuela/Nueva Esparta</li>
    <li>Pampatar</li>
    <li>gabogemp@gmail.com</li>
  </ul>
</section>

<style>
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }
</style>
