---

---

<h4>Education</h4>
<h5>Fullstack Python - Certificated</h5>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid animi
  eius. Voluptas repudiandae veniam quis nostrum accusantium sapiente nemo fugit
  distinctio eos, deserunt magnam molestiae consequuntur repellat itaque
  exercitationem.
</p>

<style>
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }

  h5 {
    font-family: var(--h4-h5-font);
    font-size: medium;
  }
</style>
