---

---

<h4>Education</h4>

<h5>Fullstack Python - Certificated</h5>
<h5>Universidad de Margarita (UNIMAR) - Contador Público</h5>

<style>
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }

  h5 {
    font-family: var(--h4-h5-font);
    font-size: medium;
  }
</style>
