---

---

<h4>Experience</h4>
<p>Desarrollador frontend con experiencia en la creación de aplicaciones web desde cero. Durante mi formación, completé varios proyectos prácticos que demostraron mi capacidad para aplicar los conocimientos adquiridos</p>

<style>
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }
</style>
