---

---

<h4>Skills/Habilidades</h4>
<p>
  HTML, CSS, JavaScript, Figma to Design, Responsive Web Design, Tecnical
  writing, Presentation
</p>

<style>
  section {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0 8px;
  }
</style>
