---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* fonts imports */
  @import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

  :root {
    /* colors */
    --h4-color: #309e45;
    /* fonts */
    --h1-font: "Quattrocento Sans", sans-serif;
    --h4-h5-font: "Economica", sans-serif;
    --p-font: "Hind Madurai", sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color-scheme: dark light;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
  }

  h1 {
    font-family: var(--h1-font);
  }

  h4 {
    color: var(--h4-color);
    font-family: var(--h4-h5-font);
  }

  p {
    font-family: var(--p-font);
  }
</style>
